#blogContainer {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  background: none;
  opacity: 0.8;
  color: white;
}

#blogTitleContainer {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
}

#blogHeader,
#blogHeader2 {
  border-right: 0.15em solid;
  white-space: nowrap;
  opacity: 0;
  overflow: hidden;
  margin-bottom: 2rem;
  font-size: 36px;
  width: 14em;
  -webkit-animation: type 3s steps(100, end);
  animation: type 3s steps(100, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#blogHeader {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

#blogHeader2 {
  width: 14em;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
