#projectCard {
  max-width: 20rem;
  margin: 15px;
  background-color: black;
}

#projectCard:hover {
  border: 1px solid rgb(242, 130, 78);
  padding-bottom: 5px;
  position: relative;
}

.card-img-top {
  width: 100%;
  padding: 0px;
  height: 200px;
}

#activeBtn {
  background-color: rgb(242, 130, 78);
  color: #fff;
  font-weight: bolder;
  border: 0px;
  margin: 5px;
}

#inactiveBtn {
  background-color: crimson;
  color: #fff;
  font-weight: bolder;
  border: 0px;
  margin: 5px;
}
