#uxContainer {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  background: none;
  opacity: 0.8;
  color: white;
}

#uxTitleContainer {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: white;
}

#constructionImg {
  padding: 5px;
  width: 100%;
  object-fit: cover;
}
