#uxContainer {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  background: none;
  opacity: 0.8;
  color: white;
}

#uxTitleContainer {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
}

#gifDiv {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

#gif {
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none;
}

#giphyCredit {
  color: white;
  font-size: 15px;
  margin-bottom: 100px;
}

#uxHeader {
  font-size: 36px;
  text-align: center;
}

/* iPad Pro 10.5 screen */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  #uxHeader {
    font-size: 30px;
  }
}

/* iPhone X screen */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  #uxHeader {
    font-size: 24px;
  }
}
