#wdContainer {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  background: none;
  opacity: 0.8;
  color: white;
}

#wdTitleContainer {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
}

#wdRow {
  width: 100%;
  overflow: hidden;
}
