#wdProjectsBtn,
#uxProjectsBtn,
#aboutBtn,
#blogBtn {
  font-size: 25px;
  color: white;
  margin-right: 30px;
}

#logo {
  height: 150px;
  width: 150px;
  margin: 0px;
}

#wdProjectsBtn:hover,
#uxProjectsBtn:hover,
#aboutBtn:hover,
#blogBtn:hover {
  background-color: rgb(221, 89, 1);
}

#wdProjectsBtn:focus,
#uxProjectsBtn:focus,
#aboutBtn:focus,
#blogBtn:focus {
  background-color: rgb(221, 89, 1);
}
