#wdProjectsBtn,
#uxProjectsBtn,
#aboutBtn {
  font-size: 25px;
  font-weight: 500;
  color: white;
  margin-right: 30px;
}

#logo {
  height: 150px;
  width: 150px;
  margin: 0px;
}

#wdProjectsBtn:hover,
#uxProjectsBtn:hover,
#aboutBtn:hover {
  background-color: rgb(221, 89, 1);
}
