#wdProjectsBtn,
#uxProjectsBtn,
#aboutBtn,
#blogBtn {
  font-size: 25px;
  color: white;
  margin-right: 30px;
}

#logo {
  height: 150px;
  width: 150px;
  margin: 0px;
}

#wdProjectsBtn:hover,
#uxProjectsBtn:hover,
#aboutBtn:hover,
#blogBtn:hover {
  background-color: rgb(221, 89, 1);
}

#wdProjectsBtn:focus,
#uxProjectsBtn:focus,
#aboutBtn:focus,
#blogBtn:focus {
  background-color: rgb(221, 89, 1);
}

/* iPad Pro 10.5 screen */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  #wdProjectsBtn,
  #uxProjectsBtn,
  #aboutBtn,
  #blogBtn {
    font-size: 18px;
    margin-right: 15px;
    font-weight: 600;
  }

  #logo {
    height: 100px;
    width: 100px;
  }
}

/* iPhone X screen */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  #wdProjectsBtn,
  #uxProjectsBtn,
  #aboutBtn,
  #blogBtn {
    font-size: 15px;
    margin-right: 15px;
    font-weight: 600;
  }

  #logo {
    height: 75px;
    width: 75px;
  }
}
